body {
    margin: 0 auto;
    background-color: #000000;
}




#contenedor{
    position: absolute;
    width: 100%;
}



h1 {
    float: left;
    position: relative;
    left: 34%;
    margin-top: 3%;
    z-index: 10;
    color: white;
    font-family: 'Enriqueta', serif;
    font-size: 60;
}


#titulo {
    text-decoration: none;
    color: white;
}

#parrafo{
    float: right;
    position: absolute;
    z-index: 10;
    color: white;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 16px;
    text-align: right;


}


#izq {
    position: absolute;
    float: left;
    left: 25%;
    height: 50%;
    width: 30%;
    top:19.5%;
}

#derecha{
    position: absolute;
    left: 55%;
    float: left;
    margin-left: 5%;
    width: 33%;
    top: 25.5%;
}

img {
    position: relative;
    float: left;
    width: 100%;
}


#pie {

    float: left;
    position: relative;
    z-index: 10;
    max-width: 100%;
    color: rgb(223,79,76);
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 14px;
}


#infoto{
    float: left;
    position: relative;
    color: white;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 12px;
    text-align: right;
    line-height: 100%;
}








/* PARA EL SIDEBAR */

.sidebar {
    float: left;
    position: fixed;
    height: 100%;
    width: 20%;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: rgb(203,79,76);
    overflow-x: hidden;
    transition: 0.4s;
    padding: 1rem 0;
    box-sizing:border-box;
    z-index: 101; 
    margin-right: 0;
}

.abrir-cerrar {
    color: rgb(203,79,76);
    font-size:1.6rem;
    top:1rem;
    left: 1rem;
    z-index: 200;
    position: absolute;
}


.sidebar .boton-cerrar {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1rem;
    display: block;
    padding: 0;
    line-height: 0rem;
    margin: 0;
    text-align: center;
    vertical-align: top;
}


.sidebar ul {
    top: 222%;
    margin-left: 100px;
    margin: 5rem auto;
    display: block;
    width: 80%;
    min-width:200px;
    padding: 20%;
}

.sidebar ul, .sidebar li{
    margin-top:10%;
    margin-left: 7%;
    padding:0;
    list-style:none inside;

}



.sidebar a {
    position: relative;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 20px;
    display: block;
    font-size: 105%;
    color: rgb(255,255,255);
    text-decoration: none;
    margin-bottom: 5%;
    
}

.sidebar a:hover{
    color: rgb(110,79,76);
}


#contenido-side {
    transition: margin-left .4s;
    padding: 1rem;
}




 
}

#abrir {
    
}
#cerrar {
    
}